.templateItem {
    margin-bottom: 24px;

    h3 {
        font-size: 16px;
        color: #333d4b;
        margin-bottom: 8px;
    }
}

.copyBox {
    background-color: #f9fafb;
    border: 1px solid #e5e8eb;
    border-radius: 12px;
    padding: 16px;
    position: relative;

    pre {
        white-space: pre-wrap;
        font-family: "Noto Sans KR", sans-serif;
        color: #333d4b;
        font-size: 15px;
        margin-bottom: 32px;
        /* Space for button */
    }
}

.copyBtn {
    position: absolute;
    bottom: 12px;
    right: 12px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        background-color: #1b64da;
    }

    &:active {
        transform: scale(0.96);
    }

    &.copied {
        background-color: #33c759;
    }
}